<style>
	.tab-header {
		font-size: 14px;
		font-weight: bold;
		text-align: center;
	}
	
	.column-header {
		font-weight: bold;
	}
</style>

<%= render :partial => "shared/summary_client_header", :locals => {:client => client} %>
<div style="margin-top:10px;">
	<table class="store_tank_sizing_summary">
		<tr>
			<td class="column-header">Calc Count</td>
			<td class="column-header">Preliminary Tag</td>
			<td class="column-header">Stream No</td>
		</tr>
		<% storage_tank_sizings.each_with_index do |storage_tank_sizing, i|%>
		<tr>
			<td><%= i+1%></td>
			<td><%= storage_tank_sizing.storage_tank_tag%></td>
			<td><%= storage_tank_sizing.s_fs_stream_no.split('.').first rescue ""%></td>			
		</tr>
		<% end%>	
	</table>
</div>		
