<style>
	.tab-header {
		font-size: 14px;
		font-weight: bold;
		text-align: center;
	}
	
	.column-header {
		font-weight: bold;
	}
</style>

<%= render :partial => "shared/summary_client_header", :locals => {:client => client} %>
<div style="margin-top:10px;">
	<table class="vessel_sizing_summary">
		<tr>
			<td class="column-header">Calc Count</td>
			<td class="column-header">Preliminary Tag</td>
			<td class="column-header">Stream No</td>
		</tr>
		<% column_sizings.each_with_index do |column_sizing, i|%>
		<tr>
			<td><%= i+1%></td>
			<td><%= column_sizing.column_system%></td>
			<td><%= column_sizing.sd_stream_no_1.split('.').first rescue ""%></td>			
		</tr>
		<% end%>	
	</table>
</div>		
