<div id="footer">
	<div id="footer-links">		
		<span><a href="/">Home</a></span>
		<span><a href="/about">About</a></span><br>		
	</div>	
	<div style="font-size:11px;text-align: left;">Copyright © 2011 by RaoTech LLC. All Rights Reserved.</div>
	<div class="clear"></div>	
</div>