= link_to 'Add User', new_admin_user_path
%table.list
  %tr
    %th User Name
    %th Group
    %th Group Title
    %th Official Title
    %th Access
    %th Clearance
    %th Units
    %th
  = render @users
