<%= link_to 'Add User', new_admin_user_path %>

<table class="data-table">
	<tr>
		<td>User Name</td>
		<td>Group</td>
		<td>Group Title</td>
		<td>Official Title</td>
		<td>Access</td>
		<td>Clearance</td>
		<td>Units</td>
	</tr>	
</table>